[submodule "docs-submodules/spoke-power"]
	path = docs-submodules/spoke-power
	url = git@github.com:spoke-robotics/spoke-power.git
	branch = main
[submodule "docs-submodules/spoke-compute"]
	path = docs-submodules/spoke-compute
	url = git@github.com:spoke-robotics/spoke-compute.git
	branch = main
[submodule "docs-submodules/spoke-controller"]
	path = docs-submodules/spoke-controller
	url = git@github.com:spoke-robotics/spoke-controller.git
	branch = main
[submodule "docs-submodules/spoke-peripherals"]
	path = docs-submodules/spoke-peripherals
	url = git@github.com:spoke-robotics/spoke-peripherals.git
	branch = main
[submodule "docs-submodules/spoke-structure"]
	path = docs-submodules/spoke-structure
	url = git@github.com:spoke-robotics/spoke-structure.git
	branch = main
